<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcWvvkBkZ329QzqOlA-pbnHMGgubAoA7A</string>
	<key>GCM_SENDER_ID</key>
	<string>102784481020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harita.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>haritaprojesi-f5284</string>
	<key>STORAGE_BUCKET</key>
	<string>haritaprojesi-f5284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102784481020:ios:d25b807cc5aaa7d23f0979</string>
	<key>DATABASE_URL</key>
	<string>https://haritaprojesi-f5284-default-rtdb.firebaseio.com</string>
</dict>
</plist>